.faq-page {
    width: 100%;
    min-height: 100vh;
    background-color: #f7f7f7;

    .faq-content {
        margin: 0 auto;
        // background-color: yellow;
        width: 1200px;
        max-width: 100%;
        font-family: sans-serif;
        padding: 2em;

        h1 {
            font-family: "Indie Flower", cursive;
            padding: 2em 0;
        }

        .faq-item {
            padding: 1em 0;

            .question {
                font-size: 1.6em;
                font-weight: bold;
            }

            .answer {
                padding: .5em 0;
                font-size: 1.2em;
                text-align: justify;
            }
        }
    }
}